<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <ul class="navbar-nav">
            <div id="logo">
                <object
                        type="image/svg+xml"
                        data="/static/logo/logo.svg">
                    <img
                            src="/logo/logo.svg"
                            id="logo"
                            alt="">
                </object>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="{% url "game:rooms_list" %}"> rooms </a>
            </li>
        </ul>
    </nav>
</header>